Django==1.7.3
boto==2.35.1
dj-database-url==0.3.0
dj-static==0.0.6
git+https://github.com/coagulant/django-storages-py3.git
django-toolbelt==0.0.1
djangorestframework==3.0.3
gunicorn==19.1.1
psycopg2==2.5.4
static3==0.5.1
