{% extends "base.html" %}

{% block majorEnvelope %}
  <div ng-controller="LinkListCtlr">
    <form ng-submit="addLink()">
      <input type="text" placeholder="New link title"
             ng-model="newLink.title" ng-diabled="isPosting">
      <button type="submit" ng-disabled="isPosting">
        Add
      </button>
    </form>
    <div ng-show="errorMessage" ng-bind="errorMessage"></div>

    <table class="link-table">

      <tr>
        <th>
          Title
          <a ng-click="ordering.predicate = 'title'">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
          </a>
          <a ng-click="ordering.predicate = '-title'">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </a>
        </th>
        <th>
          Hits
          <a ng-click="ordering.predicate = 'hits'">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
          </a>
          <a ng-click="ordering.predicate = '-hits'">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </a>
        </th>
        <th>Actions</th>
      </tr>

      <tr ng-cloak ng-repeat="link in links | orderBy:ordering.predicate"
          class="link-row">

        <td ng-hide="isEditing[link.id]" class="link-title-cell">
          <a ng-href="/[[ link.title ]]/" target="_blank"
             ng-click="hitLink($index)">
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
          <span ng-bind="link.title"></span>
        </td>
        <td ng-hide="isEditing[link.id]" class="link-hits-cell">
          <span ng-bind="link.hits"></span>
        </td>
        <td ng-hide="isEditing[link.id]" class="link-actions-cell">
          <a ng-click="editLink(link.id, $index)">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a ng-click="deleteLink($index)">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>

        <td colspan="3" ng-show="isEditing[link.id]">
          <form ng-submit="commitLinkEdit(link.id, $index)">
            <input type="text" ng-model="link.pendingTitle">
            <button type="submit">Done</button>
          </form>
        </td>

      </tr>
    </div>
  </div>
{% endblock majorEnvelope %}
