{% extends "base.html" %}

{% block majorEnvelope %}
  <div ng-controller="LinkListCtlr">
    <form ng-submit="addLink()">
      <input type="text" placeholder="New link title"
             ng-model="newLink.title" ng-diabled="isPosting">
      <button type="submit" ng-disabled="isPosting">
        Add
      </button>
    </form>
    <div ng-show="errorMessage" ng-bind="errorMessage"></div>

    <div class="link-table">
      <div ng-repeat="link in links">
        [[ link.title ]], [[ link.hits ]]
      </div>
    </div>
  </div>
{% endblock majorEnvelope %}
