{% extends "base.html" %}

{% block majorEnvelope %}
  <div ng-controller="LinkListCtlr">
    <form ng-submit="addLink()" class="new-link-form form-inline">
      <input type="text" placeholder="New link title"
             class="form-control"
             ng-model="newLink.title" ng-diabled="isPosting">
      <button type="submit" ng-disabled="isPosting"
              class="btn btn-glob add-link-button">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </form>
    <div ng-show="errorMessage" ng-bind="errorMessage"></div>

    <table class="link-table">

      <tr>
        <th>
          <span class="header-title">Title</span>
          <a ng-click="ordering.predicate = 'title'">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
          </a>
          <a ng-click="ordering.predicate = '-title'">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </a>
        </th>
        <th>
          <span class="header-title">Hits</span>
          <a ng-click="ordering.predicate = 'hits'">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
          </a>
          <a ng-click="ordering.predicate = '-hits'">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </a>
        </th>
        <th>
          <span class="header-title">Actions</span>
        </th>
      </tr>

      <tr ng-cloak ng-repeat="link in links | orderBy:ordering.predicate"
          class="link-row">

        <td ng-hide="isEditing[link.id]" class="link-title-cell">
          <a ng-href="/[[ link.title ]]/" target="_blank"
             ng-click="hitLink($index)">
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
          <span ng-bind="link.title"></span>
        </td>
        <td ng-hide="isEditing[link.id]" class="link-hits-cell">
          <span ng-bind="link.hits"></span>
        </td>
        <td ng-hide="isEditing[link.id]" class="link-actions-cell">
          <a ng-click="editLink(link.id, $index)" class="link-action-edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a ng-click="deleteLink($index)" class="link-action-delete">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>

        <td colspan="3" ng-show="isEditing[link.id]">
          <form ng-submit="commitLinkEdit(link.id, $index)">
            <input type="text" ng-model="link.pendingTitle"
                   class="link-edit-input">
            <button type="submit" class="btn btn-glob done-editing-button">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
        </td>

      </tr>
    </div>
  </div>
{% endblock majorEnvelope %}
